@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: KillerTech;
    src: url('../fonts/KillerTech-4Bj0l.ttf');
}
@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy-Light.otf');
}

@layer utilities {
    .snap {
        scroll-snap-type: var(--scroll-snap-direction)
            var(--scroll-snap-constraint);
    }
    .snap-y {
        --scroll-snap-direction: y;
    }
    .snap-mandatory {
        --scroll-snap-constraint: mandatory;
    }
    .snap-start {
        scroll-snap-align: start;
    }
}

html {
    scroll-behavior: smooth;
}
.Social{
    @apply w-[17px] h-[17px] md:w-[37px] md:h-[37px] 2xl:w-[50px] 2xl:h-[50px]  text-gdg-ctf-red absolute top-[50%] left-[50%] translate-y-[-50%] translate-x-[-50%]
}